---
import { getBlogs, createTOC } from "$lib/utils";
import { BlogPost, Body, Date, Img, TableOfContent } from "$lib/components";


export const getStaticPaths = async () => {
  const blogs = await getBlogs()

  return blogs.map((post) => ({    
    params: { slug: post.slug },
    props: { post },
  })
)
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();
const { minutesRead } = remarkPluginFrontmatter;
const { data } = post;

const relatedPosts = await getBlogs(blog => 
  blog.data.category == data.category && blog.slug != post.slug
)
---

<Body>
  <hgroup>
    <h1>{data.title}</h1>
    <p class="muted"><Date date={data.date} /> &bull; {minutesRead}</p>
  </hgroup>

  <p class="muted">{data.description}</p>

  {
    data.image && (
      <>
        <Img
          src={data.image.src}
          width="800"
          alt="My post"
          class="hero-img no-mb"
        />
        {data.image.credit && data.image.link &&
          <figcaption class="muted no-mb">
            {data.image.credit}. <a href={data.image.link} target="_blank" rel="noopener noreferrer">Link.</a>
          </figcaption>
        }
      </>
    )
  }

  <div class="divider breakout"></div>

  <details>
    <summary aria-haspopup="listbox">Table of contents</summary>
    <div class="toc">
      <TableOfContent headings={createTOC(headings)} />
    </div>
  </details>

  <section class="md full-width">
    <Content />
  </section>

  <div class="divider breakout"></div>

  {relatedPosts.length > 0 &&
    <section>
      <p><strong>Also read</strong></p>
      <BlogPost blogs={relatedPosts} />
    </section>
  }
</Body>

<script>
  //@ts-ignore
  import ColorThief from "colorthief";
  //@ts-ignore
  import convert from "color-convert";

  const colorThief = new ColorThief();
  const img = document.querySelector("img.hero-img") as HTMLImageElement;

  function setBgColorOnRoot(img: HTMLImageElement) {
    const root = document.querySelector(":root") as HTMLElement;

    if (!img || !img.src) return;

    const rgb = colorThief.getColor(img);
    const hsl = convert.rgb.hsl(rgb);

    const bg_color = convert.hsl.hex(hsl[0], 50, 15);
    const on_bg_color = convert.hsl.hex(hsl[0], 100, 80);
    const on_bg_color_alt = convert.hsl.hex((hsl[0] + 52) % 360, 100, 80);

    root.style.setProperty("--bg-color", "#" + bg_color);
    root.style.setProperty("--on-bg-color", "#" + on_bg_color);
    root.style.setProperty("--on-bg-color-alt", "#" + on_bg_color_alt);

    document.querySelector("body")!.animate([{ height: "120vh" }], {
      delay: 500,
      duration: 500,
      easing: "ease-out",
      fill: "forwards",
      pseudoElement: "::after",
    });
  }

  if (img.complete) setBgColorOnRoot(img);
  else img.addEventListener("load", () => setBgColorOnRoot(img));
</script>

<style>
  h1 {
    display: inline-block;
    background-image: linear-gradient(
      to right,
      var(--on-bg-color, var(--color-on-background)),
      var(--on-bg-color-alt, var(--color-on-background)) 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  details {
    margin-bottom: var(--space-s);
    border: 1.5px solid var(--color-tertiary);
    border-radius: var(--border-radius);
    cursor: pointer;

    /* width: min-content;
    background-color: var(--color-background);
    position: sticky;
    top: var(--space-s);
    z-index: 1;
    isolation: isolate; */
  }

  /* details[open],
  details[open] > summary {
    width: auto;
  } */

  summary {
    /* width: max-content; */
    padding: var(--space-s);
    color: var(--color-tertiary);
  }

  .toc {
    max-height: 60vh;
    overflow-y: scroll;
  }

  .toc > :global(ul) {
    list-style: none;
  }

  .toc :global(li) {
    margin-inline: var(--space-s);
  }

  figcaption {
    margin-top: var(--space-s);
    font-size: var(--step--1);
    text-align: center;
  }

  .prose :global(pre) {
    grid-column: breakout;
  }

  .divider {
    margin-block: var(--space-m);
  }
</style>
