---
import Body from "$com/Body.astro";
import Posts from "$lib/components/Posts.svelte";
import TableOfContents from "$lib/components/TableOfContents.svelte";
import { formatDate } from "$lib/utils";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const { slug } = Astro.params;

if (!slug) return;

const post = await getEntry("blogs", slug);
if (!post) return;

async function followUpPost() {
  if (!post || typeof post.data.followUp === "undefined") return false;

  const followUpPost = await getEntry("blogs", post.data.followUp.slug);

  return followUpPost.data.title;
}

const { Content, headings, remarkPluginFrontmatter } = await post.render();
type Data = { slug: string; depth: number; text: string };

const toc = [] as any;

headings?.forEach((item: Data) => {
  switch (item.depth) {
    case 1:
      toc.push(item);
      break;
    case 2:
      toc.push(item);
      break;
    case 3:
      toc.push([item]);
      break;
    case 4:
      toc.push([[item]]);
      break;
    case 5:
      toc.push([[[item]]]);
      break;
    case 6:
      toc.push([[[[item]]]]);
      break;
    default:
      break;
  }
});
---

<Body
  title={post.data.title}
  article
  publishedOn={post.data.publishedOn}
  image={post.data.image}
>
  <a href="/" class="contrast"><p>&larr; Back to post</p></a>

  <hgroup id="post-title">
    <h1>{post.data.title}</h1>
    <p>
      {formatDate(post.data.publishedOn)} &bull; {
        remarkPluginFrontmatter.minutesRead
      }
    </p>
  </hgroup>

  <section>
    <figure id="hero">
      <Image
        src={post.data.image || "/images/placeholder.webp"}
        alt="Just an image"
        width={800}
        height={600}
        format="webp"
        loading="eager"
      />
    </figure>
  </section>

  <div id="prose">
    <article id="toc">
      <h6>Table of contents</h6>
      <TableOfContents headings={toc} />
    </article>

    <figure id="md">
      <Content />
    </figure>
  </div>

  <section id="bottom-navigation">
    <a href="/" class="contrast">&larr; Back to post</a>

    {
      post.data.followUp && (
        <a
          href={`/post/${post.data.followUp.slug}`}
          role="button"
          class="contrast outline"
        >
          <strong>Follow up:</strong>&ThinSpace;
          {followUpPost()} &rarr;
        </a>
      )
    }
  </section>

  <Posts postId={post.id} postTags={post.data.tags} client:idle />
</Body>
