---
import "@picocss/pico";
import "/src/global.css";

import Nav from "$com/Nav.astro";
import Footer from "$com/Footer.astro";

const { title = "Welcome to my website!", article, publishedOn } = Astro.props;
const canonicalURL = Astro.url.pathname;

const navTitle = "Fallenblogs";
const description =
  "I am Fallen and this is where I share my amazing tech learning experience.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content="Fallen | Rishav" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={article ? "article" : "website"} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {
      article && (
        <>
          <meta property="article:author" content="Fallen | Rishav" />
          <meta property="article:published_time" content={publishedOn} />
        </>
      )
    }

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <title>Fallen's blogs &bull; {title}</title>
  </head>
  <body>
    <Nav title={navTitle} />

    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>
